:root {
  --primary-color: #020100;
  --secondary-color: #fdfffc;
  --accent-color: #ed1c24;
  --highlight-color: #235789;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

textarea {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.modal-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-close-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.video-info {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.video-info img {
  max-width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.video-info:hover {
  transform: translateY(-5px);
}

.video-thumbnail {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.video-details {
  text-align: left;
  padding: 15px;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
.video-stats {
  display: flex;
  margin-top: 10px;
}
.video-views {
  font-size: 16px;
  color: #777;
}
.video-time {
  font-size: 16px;
  color: #777;
  margin-left: 10px;
}
.channel-name {
  font-size: 16px;
  color: #555;
}

.outlier-message {
  color: var(--accent-color);
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
